@use "sass:math";

.App {
  text-align: center;
  min-height: 100%;
}

h2{
  margin: 0;
}

//basic colors to use (HEX) 543133, 9B2E45, F5DCD5, B58981, 8C544C
//I plan on changing the standard fonts used eventually, possibly Halant and/or Nunito Sans

$font-stack: Helvetica,sans-serif;
$primary-color: #9B2E45;
$primary-background-color: #F5DCD5;
$primary-border-color: #543133;
$primary-menu-color: #8C544C;
$primary-folder-color: #B58981;
$folder-size: 80px;
$val: 100px;
$footHeight: 80px;
$footWidth: 100%;
// $div-width: calc(100vw-#{math.div($val, 2)});
// $div-height: calc(100vh-#{math.div($val, 2)});

@mixin variedHeader($bottomborder: 0 3px 3px $primary-color){
  height: 80px;
  background-color: $primary-border-color;
  // color: $primary-background-color;
  border-bottom: 2px solid $primary-menu-color;
  box-shadow: $bottomborder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

%shared-properties{
  border: 3px solid $primary-border-color;
  height: $folder-size;
  width: $folder-size*1.5;
  padding: 10px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: rgba($primary-folder-color,0.6);
}

%display-properties{
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-repeater{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

body{
  background-color: rgba($primary-background-color,0.8);
  min-height: 100%;
}

.searchHead{
  @include variedHeader($bottomborder: none);
}

.userHead{
  @include variedHeader;
}

%corner-position{
  position: absolute;
  top: 26px;
  right: 16px;
}

.openClose{
  border: none;
  background-color: transparent;
  color: transparent;
  font-size: 24px;
  @extend %corner-position;
  z-index: 99;
}

.handleCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: calc(100vh-80px);
}

.handleWidth{
  width: 100%;
  max-width: 1000px;
}

.content{
  min-height: calc(100vh - 80px);
  width: 100%;
  max-width: 1000px;
}

$widthVar: 100%;
$maxWidthVar: 1000px;

.imgContainer{
  @extend %display-properties;
  flex-direction: column;
  // flex-shrink: 0;
  width: $widthVar;
  max-width: $maxWidthVar;
  height: 300vw;
  max-height: 3000px;
  overflow: hidden;
  // position: relative;
}

.imgWrapper{
  width:$widthVar;
  max-width: $maxWidthVar;
  height:$widthVar;
  max-height: $maxWidthVar;    
  overflow:hidden;
  position:relative;
  @extend %display-properties;
}

@mixin VariedImg($topAdjust: 0px){
  position: absolute;
  // left: 0;
  top: $topAdjust;
  width: $widthVar;
  max-width: $maxWidthVar;
}

.imgOne{
  // @include VariedImg;
  // max-width: unset;
  // left: unset;
  // right: -10%;
  height: $widthVar;
  max-height: $maxWidthVar;
  // object-position: 50% 50%;
  object-fit: cover;
}

.imgTwo{
  @include VariedImg($topAdjust: -25%);
}

.imgThree{
  @include VariedImg($topAdjust: -20%);
}

%button-properties{
  width: 35%;
  height: 6%;
  max-width: 200px;
  min-height: 42px;
  border: 2px solid $primary-border-color;
  background-color: $primary-color;
  color: $primary-background-color;
  position: absolute;
}

.centerLinks{
  @extend %display-properties;
}

.btnOne{
  @extend %button-properties;
  top: calc(70vw + #{$footHeight});
}

.textHome{
  z-index: 50;
  font-size: 6vw;
  color: $primary-background-color;
  width: 90%;
  max-width: 600px;
  text-shadow: 2px 0 0 $primary-border-color, -2px 0 0 $primary-border-color, 0 2px 0 $primary-border-color, 0 -2px 0 $primary-border-color, 1px 1px 0 $primary-border-color, -1px 1px 0 $primary-border-color, 1px -1px 0 $primary-border-color, -1px -1px 0 $primary-border-color;
  position: absolute;
  // top: calc(50vw + #{$footHeight})
}

@media (min-width: 810px){
  .textHome{
    font-size: 49px;
  }
}

.btnTwo{
  @extend %button-properties;
  top: calc(170vw + #{$footHeight});
}

.btnThree{
  @extend %button-properties;
  top: calc(270vw + #{$footHeight});
}

.userDetails{
  // padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  max-width: 1000px;
}

%reuse-userBox{
  @extend %flex-repeater;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 16px;
  margin-bottom: 26px;
}

.userBox{
  @extend %reuse-userBox;
  background-color: rgba($primary-folder-color,0.9);
}

%reuse-userInfo{
  margin-top: 0;
  margin-bottom: 16px;
  padding-bottom: 3px;
  height: 21px;
  width: 100%;
  max-width: 300px;
  @extend %display-properties;
  justify-content: space-between;
  border-bottom: 1px dotted $primary-border-color;
}

.userInfo{
  @extend %reuse-userInfo;
}

.centerBox{
  @extend %reuse-userBox;
  padding-top: 16px;
  margin: 0 20px 0px 20px;
  // margin-left: 20px;
  // margin-right: 20px;
  // width: 100%;
}

.contactInfo{
  @extend %reuse-userInfo;
  height: unset;
  width: 100%;
  max-width: 400px;
}

#me{
  margin-bottom: 0;
}

$maxWidthTextBox: 500px;

.textBox{
  max-width: $maxWidthTextBox;
  padding: 0 20px 20px 20px;
  text-align: justify;
  margin-bottom: 0;
}

.institution{
  margin-bottom: 0;
}

%custom-buttons{
  height: 30px;
  border: 1px solid $primary-border-color;
  background-color: $primary-folder-color;
  margin: 0 10px;
  margin-bottom: 10px;
}

.editUser{
  @extend %custom-buttons;
}

.arrangeFolders{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.arrangeTabs{
  @extend %flex-repeater;
}

.poly{
  fill: $primary-color;
}

.polySvg{
  height: 12px;
  width: 50px;
  margin-left: 10px;
  // border-left: 3px solid $primary-border-color;
}

.folder{
  @extend %shared-properties;
}

.createNew{
  font-size:5em;
  color: rgba($primary-color,0.6);
  @extend %display-properties;
}

%btn-repeater{
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.folderButton{
  @extend %btn-repeater;
}

.searchInput{
  width: 120px;
}

select{
  margin-right: 10px;
}

@mixin secondaryTitle($alignText: right){
  text-align: $alignText;
  margin-top: 0;
  height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  // padding-right: 10px;
  background-color: rgba($primary-color,0.9);
  width: 100%;
  max-width: 1000px;
}

.searchFilter{
  @include secondaryTitle;
}

.titleHead{
  @include secondaryTitle($alignText: center);
}

.projectTitle{
  @include secondaryTitle($alignText: center);
  margin-top: 15px;
}

.dropDownMenu{
  @include secondaryTitle($alignText: center);
  // padding-left: 20px;
  margin-bottom: 20px;
  background-color: $primary-folder-color;
  display: flex;
  justify-content: space-between;
}

.dataTitle{
  margin: 0 0 0 20px;
  width: 100%;
  text-align: left;
}

.flipBtn{
  @extend %btn-repeater;
  text-align: right;
  font-size: 20px;
  margin-right: 10px;
}

.dropDownData{
  @extend %flex-repeater;
  align-items: center;
  margin: 0 10px;
}

.svg-container {
  max-width: 800px;
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
}

svg .rect {
  fill: transparent;
}

.graphDetails{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 3%;
}

.editProject{
  @extend %custom-buttons;
  margin-bottom: 20px;
  background-color: rgba($primary-menu-color,0.9);
}

.detailText{
  margin-top: 0;
  margin-bottom: 5px;
}

$newColor: #771b2f;

.links{
  text-decoration: none;
  margin: 0 3vw;
  // color: $newColor;
  color: $primary-background-color;
}

.links:visited{
  // color: $newColor;
  color: $primary-background-color;
}

.banner{
  margin-top: 30px;
}

.addData{
  @extend %custom-buttons;
  height: unset;
}

$loginWidth: 80vw;
$loginHeight: 88vh;
$maxWidth: 360px;
// $adjust-position: 10vw;
// $adjust-top: 6vh;

.loginFlexBox{
  @extend %display-properties;
  height: 100vh;
  width: 100vw;
  background-color: rgba($primary-color,0.9);
}

.loginBox{
  @extend %display-properties;
  flex-direction: column;
  height: $loginHeight;
  width: $loginWidth;
  border: 2px solid $primary-border-color;
  padding-top: 10px;
  background-color: $primary-background-color;
  max-width: $maxWidth;
  min-width: 280px;
  max-height: 500px;
  min-height: 350px;
}

.loginContainer{
  width: $loginWidth;
  max-width: $maxWidth;
}

.loginField{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  max-width: $maxWidth;
}

.textBtn{
  @extend %btn-repeater;
  width: unset;
  padding: 0;
  font-size: 16px;
  border-bottom: 1px solid $primary-border-color;
}

.loginBtn{
  @extend %custom-buttons;
  background-color: rgba($primary-folder-color,0.7);
  width: 80px;
}

.mainFooter{
  height: $footHeight;
  width: $footWidth;
  display: flex;
  justify-content: center;
}

.footDiv{
  height: $footHeight;
  width: $footWidth;
  max-width: 1000px;
  background-color: rgba($primary-border-color,1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.showBurger{
  margin: 0;
  line-height: 6px;
  font-size: 32px;
  color: $primary-folder-color;
  width: 17px;
  position: absolute;
  right: 16px;
  top: 14px;
  padding: 0 6px;
}

.centerSearch{
  @extend %display-properties;
}

.adjBtn{
  margin-right: 20px;
  color: $primary-folder-color;
  border-bottom: 1px solid $primary-background-color;
}

.searchBtn{
  margin-right: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
}

%icon-sizing{
  height: 28px;
  width: 28px;
}

.iconSearch{
  @extend %icon-sizing;
  fill: $primary-background-color;
}

.iconLogout{
  @extend %icon-sizing;
  stroke: $primary-folder-color;
  margin: 0 1.5vw 0 10px;
}

.profilelink{
  margin-right: 0;
}

.homelink{
  text-shadow: 1px 0 0 $primary-border-color, -1px 0 0 $primary-border-color, 0 1px 0 $primary-border-color, 0 -1px 0 $primary-border-color, 1px 1px 0 $primary-border-color, -1px 1px 0 $primary-border-color, 1px -1px 0 $primary-border-color, -1px -1px 0 $primary-border-color;
  z-index: 50;
  // margin-top: 26px;
}

.svg-logo{
  height: 80px;
  width: 63px;
  position: absolute;
  top: -26px;
  left: calc(3vw + 40px); 
  //-34vw;
  // z-index: 1;
}

.headLogo{
  @extend %display-properties;
  position: relative;
}

// .adjLogo{
//   position: absolute;
//   top: 0;
// }

@media (min-width: 500px) {
  .graphDetails{
    bottom: 7%;
  }
}

@media (min-width: 650px) {
  .graphDetails{
    bottom: 9%;
  }
}

@media (min-width: 760px) {
  .svg-container {
    height: 570px;
    padding-bottom: 0;
  }
}

@media (max-width: 700px) {
  .userHead{
    align-items: flex-start;
  }
  .searchHead{
    align-items: flex-start;
  }
  .homelink{
    margin-top: 26px;
    // margin-bottom: 26px;
  }
  .svg-logo{
    top: 0;
  }
  // .centerSearch{
  //   // margin-top: 25px;
  // }
  .profilelink{
    margin-top: 15px;
  }
  .menu{
    display:flex;
    flex-direction: column;
    // justify-content: flex-start;
    // align-items: flex-start;
    padding-top: 70px;
    padding-right: 30px;
    padding-left: 20px;
    text-align: left;
    height: 0;
    // width: 0%;
    // background-color: $primary-border-color;
    background-color: transparent;
    overflow: hidden;
    z-index: 0;
    transition: all 0.4s;
  }
  .menulinks{
    margin-bottom: 20px;
    // color: $primary-background-color;
    color: transparent;
  }
  .menulinks:visited{
    color: $primary-background-color;
  }
  .adjBtn{
    // @extend %corner-position;
    position: relative;
    top: 30px;
    // right: 16px;
  }
  .adjLogout{
    margin-top: 15px;
  }
}

@media (min-width: 701px){
  .showBurger{
    color: transparent;
  }
}

@media (min-width: 1000px){
  .btnOne{
    top: calc(#{$maxWidthVar} * 0.7 + #{$footHeight});
  }
  .btnTwo{
    top: calc(#{$maxWidthVar} * 1.7 + #{$footHeight});
  }
  .btnThree{
    top: calc(#{$maxWidthVar} * 2.7 + #{$footHeight});
  }
  // .svg-logo{

  // }
}

.open{
  color: $primary-background-color;
}

.openMenuLinks{
  color: $primary-background-color;
}

.openMenu{
  background-color: $primary-menu-color;
  position: fixed;
  right: 0;
  height: 100vh;
  z-index: 99;
  // width: 50%;
}

.closeBurger{
  color: transparent;
}

.break{
  margin-top: 0;
  margin-bottom: 2px;
}

.caret{
  // fill: $primary-background-color;
  // fill: $newColor;
  fill: $primary-border-color;
}

.aboutIcons{
  height: 50px;
  width: 50px;
  margin: 0 20px 30px;
  fill: $primary-menu-color;
  // fill: $newColor;
}

.line{
  width: calc(100% - 40px);
  max-width: $maxWidthTextBox;
  border-bottom: 1px dotted $primary-border-color;
}

.addBorder{
  border-top: 1px dotted $primary-menu-color;
  padding-top: 20px;
}