.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.createNew{
  font-size:2em;
}

.folderButton{
  border: none;
  background-color: white;
  /* background-color: ; */
  cursor: pointer;
}

.svg-container {
  max-width: 800px;
  /* max-height: 550px; */
  display: inline-block;
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  position: relative;
  /* height: 50vh; */
  width: 100%;
  /* height: 40vh; */
  padding-bottom: 75%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  /* max-height: 450px; */
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
}

svg .rect {
  /* background-color: white; */
  fill: transparent;
  /* stroke: steelblue; */
  /* stroke-width: 1px; */
}

.graphDetails{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  position: absolute;
  left: 0;
  bottom: 5%;
}

.detailText{
  margin-top: 0;
  margin-bottom: 5px;
}

@media (min-width: 500px) {
  .graphDetails{
    bottom: 7%;
  }
}

@media (min-width: 650px) {
  .graphDetails{
    bottom: 9%;
  }
}

@media (min-width: 760px) {
  .svg-container {
    height: 570px;
    padding-bottom: 0;
  }
}