.App {
  text-align: center; }

h2 {
  margin: 0; }

.folder {
  border: 3px solid #543133;
  height: 80px;
  width: 120px;
  padding: 10px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: rgba(181, 137, 129, 0.6); }

.createNew {
  display: flex;
  align-items: center;
  justify-content: center; }

body {
  background-color: rgba(245, 220, 213, 0.8); }

.searchHead {
  height: 80px;
  background-color: #8C544C;
  border-bottom: 2px solid #543133;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.userHead {
  height: 80px;
  background-color: #8C544C;
  border-bottom: 2px solid #543133;
  box-shadow: 0 3px 3px #9B2E45;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.userDetails {
  padding-bottom: 16px; }

.userBox {
  padding-top: 26px;
  padding-bottom: 16px;
  margin-bottom: 26px;
  background-color: rgba(181, 137, 129, 0.9); }

.userInfo {
  margin-top: 0;
  height: 21px; }

.institution {
  margin-bottom: 0; }

.editUser {
  height: 30px;
  border: 1px solid #543133;
  background-color: #B58981;
  margin: 0 10px;
  margin-bottom: 10px; }

.arrangeFolders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.arrangeTabs, .dropDownData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.poly {
  fill: #9B2E45; }

.polySvg {
  height: 12px;
  width: 50px;
  margin-left: 10px; }

.createNew {
  font-size: 5em;
  color: rgba(155, 46, 69, 0.6); }

.folderButton {
  border: none;
  background-color: transparent;
  /* background-color: ; */
  cursor: pointer;
  height: 100%;
  width: 100%; }

.searchInput {
  width: 120px; }

.searchFilter {
  text-align: right;
  margin-top: 0;
  height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  background-color: rgba(155, 46, 69, 0.9); }

.titleHead {
  text-align: center;
  margin-top: 0;
  height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  background-color: rgba(155, 46, 69, 0.9); }

.dropDownData {
  align-items: center;
  margin: 0 10px; }

.svg-container {
  max-width: 800px;
  /* max-height: 550px; */
  display: inline-block;
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  vertical-align: top;
  overflow: hidden; }

.svg-content-responsive {
  /* max-height: 450px; */
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0; }

svg .rect {
  fill: transparent; }

.graphDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  position: absolute;
  left: 0;
  bottom: 5%; }

.detailText {
  margin-top: 0;
  margin-bottom: 5px; }

.links {
  text-decoration: none;
  margin: 0 3vw; }

@media (min-width: 500px) {
  .graphDetails {
    bottom: 7%; } }

@media (min-width: 650px) {
  .graphDetails {
    bottom: 9%; } }

@media (min-width: 760px) {
  .svg-container {
    height: 570px;
    padding-bottom: 0; } }
