@use "sass:math";
.App {
  text-align: center;
  min-height: 100%; }

h2 {
  margin: 0; }

.folder {
  border: 3px solid #543133;
  height: 80px;
  width: 120px;
  padding: 10px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: rgba(181, 137, 129, 0.6); }

.imgContainer, .imgWrapper, .centerLinks, .userInfo, .contactInfo, .createNew, .loginFlexBox, .loginBox, .centerSearch, .headLogo {
  display: flex;
  align-items: center;
  justify-content: center; }

.userBox, .centerBox, .arrangeTabs, .dropDownData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

body {
  background-color: rgba(245, 220, 213, 0.8);
  min-height: 100%;
  font-family: "PT Serif", serif; }

.searchHead {
  height: 80px;
  background-color: #543133;
  border-bottom: 2px solid #8C544C;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px; }

.userHead {
  height: 80px;
  background-color: #543133;
  border-bottom: 2px solid #8C544C;
  box-shadow: 0 3px 3px #9B2E45;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px; }

.openClose {
  position: absolute;
  top: 26px;
  right: 16px; }

.openClose {
  border: none;
  background-color: transparent;
  color: transparent;
  font-size: 24px;
  z-index: 99; }

.handleCenter {
  display: flex;
  flex-direction: column;
  align-items: center; }

.handleWidth {
  width: 100%;
  max-width: 1000px; }

.content {
  min-height: calc(100vh - 80px);
  width: 100%;
  max-width: 1000px; }

.imgContainer {
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: 300vw;
  max-height: 3000px;
  overflow: hidden; }

.imgWrapper {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 1000px;
  overflow: hidden;
  position: relative; }

.imgOne {
  height: 100%;
  max-height: 1000px;
  object-fit: cover; }

.imgTwo {
  position: absolute;
  top: -25%;
  width: 100%;
  max-width: 1000px; }

.imgThree {
  position: absolute;
  top: -20%;
  width: 100%;
  max-width: 1000px; }

.familyImg {
  width: calc(100vw - 90px);
  max-width: 500px;
  margin-top: 30px; }

.btnOne, .btnTwo, .btnThree {
  width: 35%;
  height: 6%;
  max-width: 200px;
  min-height: 42px;
  border: 2px solid #543133;
  background-color: #9B2E45;
  color: #F5DCD5;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  position: absolute; }

.btnOne {
  top: calc(70vw + 80px); }

.textHome {
  z-index: 50;
  font-size: 6vw;
  color: #F5DCD5;
  font-family: "Poppins", sans-serif;
  width: 90%;
  max-width: 600px;
  text-shadow: 2px 0 0 #543133, -2px 0 0 #543133, 0 2px 0 #543133, 0 -2px 0 #543133, 1px 1px 0 #543133, -1px 1px 0 #543133, 1px -1px 0 #543133, -1px -1px 0 #543133;
  position: absolute; }

@media (min-width: 810px) {
  .textHome {
    font-size: 49px; } }

.btnTwo {
  top: calc(170vw + 80px); }

.btnThree {
  top: calc(270vw + 80px); }

.userDetails {
  padding-bottom: 16px;
  width: 100%;
  max-width: 1000px; }

.userBox, .centerBox {
  align-items: center;
  padding-top: 26px;
  padding-bottom: 16px;
  margin-bottom: 26px; }

.userBox {
  background-color: rgba(181, 137, 129, 0.9); }

.userInfo, .contactInfo {
  margin-top: 0;
  margin-bottom: 16px;
  padding-bottom: 3px;
  height: 21px;
  width: 100%;
  max-width: 300px;
  justify-content: space-between;
  border-bottom: 1px dotted #543133; }

.centerBox {
  padding-top: 16px;
  margin: 0 20px 0px 20px; }

.contactInfo {
  height: unset;
  width: 100%;
  max-width: 400px;
  margin-bottom: 25px; }

#me {
  margin-bottom: 0; }

.textBox {
  max-width: 500px;
  padding: 0 20px 20px 20px;
  text-align: justify;
  margin-bottom: 0; }

.institution {
  margin-bottom: 0; }

.editUser, .editProject, .addData, .loginBtn {
  height: 30px;
  border: 1px solid #543133;
  background-color: #B58981;
  margin: 0 10px;
  margin-bottom: 10px; }

.arrangeFolders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.poly {
  fill: #9B2E45; }

.polySvg {
  height: 12px;
  width: 50px;
  margin-left: 10px; }

.createNew {
  font-size: 5em;
  color: rgba(155, 46, 69, 0.6); }

.folderButton, .flipBtn, .textBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-family: "PT Serif", serif; }

.searchInput {
  width: 120px; }

select {
  margin-right: 10px; }

.searchFilter {
  text-align: right;
  margin-top: 0;
  height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(155, 46, 69, 0.9);
  width: 100%;
  max-width: 1000px; }

.titleHead {
  text-align: center;
  margin-top: 0;
  height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(155, 46, 69, 0.9);
  width: 100%;
  max-width: 1000px; }

.projectTitle {
  text-align: center;
  margin-top: 0;
  height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(155, 46, 69, 0.9);
  width: 100%;
  max-width: 1000px;
  margin-top: 15px; }

.dropDownMenu {
  text-align: center;
  margin-top: 0;
  height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(155, 46, 69, 0.9);
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  background-color: #B58981;
  display: flex;
  justify-content: space-between; }

.dataTitle {
  margin: 0 0 0 20px;
  width: 100%;
  text-align: left; }

.flipBtn {
  text-align: right;
  font-size: 20px;
  margin-right: 10px; }

.dropDownData {
  align-items: center;
  margin: 0 10px; }

.svg-container {
  max-width: 800px;
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  vertical-align: top;
  overflow: hidden; }

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0; }

svg .rect {
  fill: transparent; }

.graphDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 3%; }

.editProject {
  margin-bottom: 20px;
  background-color: rgba(140, 84, 76, 0.9); }

.detailText {
  margin-top: 0;
  margin-bottom: 5px; }

.links {
  text-decoration: none;
  margin: 0 3vw;
  color: #F5DCD5; }

.links:visited {
  color: #F5DCD5; }

.banner {
  margin-top: 30px; }

.addData {
  height: unset; }

.loginFlexBox {
  height: 100vh;
  width: 100vw;
  background-color: rgba(155, 46, 69, 0.9); }

.loginBox {
  flex-direction: column;
  height: 88vh;
  width: 80vw;
  border: 2px solid #543133;
  padding-top: 10px;
  background-color: #F5DCD5;
  max-width: 360px;
  min-width: 280px;
  max-height: 500px;
  min-height: 350px; }

.loginContainer {
  width: 80vw;
  max-width: 360px; }

.loginField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  max-width: 360px; }

.textBtn {
  width: unset;
  padding: 0;
  font-size: 16px;
  border-bottom: 1px solid #543133; }

.loginBtn {
  background-color: rgba(181, 137, 129, 0.7);
  width: 80px; }

.mainFooter {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center; }

.footDiv {
  height: 80px;
  width: 100%;
  max-width: 1000px;
  background-color: #543133;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.showBurger {
  margin: 0;
  line-height: 6px;
  font-size: 32px;
  color: #B58981;
  width: 17px;
  position: absolute;
  right: 16px;
  top: 14px;
  padding: 0 6px; }

.centerSearch {
  height: 80px; }

.adjBtn {
  margin-right: 20px;
  color: #B58981;
  border-bottom: 1px solid #F5DCD5; }

.searchBtn {
  margin-right: 10px;
  background-color: transparent;
  border: none;
  padding: 0; }

.iconSearch, .iconLogout {
  height: 28px;
  width: 28px; }

.iconSearch {
  fill: #F5DCD5; }

.iconLogout {
  stroke: #B58981;
  margin: 0 1.5vw 0 10px; }

.profilelink {
  margin-right: 0; }

.homelink {
  text-shadow: 1px 0 0 #543133, -1px 0 0 #543133, 0 1px 0 #543133, 0 -1px 0 #543133, 1px 1px 0 #543133, -1px 1px 0 #543133, 1px -1px 0 #543133, -1px -1px 0 #543133;
  font-family: "Poppins", sans-serif;
  z-index: 50; }

.svg-logo {
  height: 80px;
  width: 63px;
  position: absolute;
  top: -23px;
  left: calc(3vw + 40px); }

.headLogo {
  position: relative; }

@media (min-width: 500px) {
  .graphDetails {
    bottom: 7%; } }

@media (min-width: 650px) {
  .graphDetails {
    bottom: 9%; } }

@media (min-width: 760px) {
  .svg-container {
    height: 570px;
    padding-bottom: 0; } }

@media (max-width: 700px) {
  .userHead {
    align-items: flex-start; }
  .searchHead {
    align-items: flex-start; }
  .homelink {
    margin-top: 23px; }
  .svg-logo {
    top: 0; }
  .menu {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-right: 30px;
    padding-left: 20px;
    text-align: left;
    height: 0;
    background-color: transparent;
    overflow: hidden;
    z-index: 0;
    transition: all 0.4s; }
  .menulinks {
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color: transparent; }
  .menulinks:visited {
    color: #F5DCD5; }
  .adjBtn {
    position: relative;
    top: 30px; } }

@media (min-width: 701px) {
  .showBurger {
    color: transparent; } }

@media (min-width: 1000px) {
  .btnOne {
    top: calc(1000px * 0.7 + 80px); }
  .btnTwo {
    top: calc(1000px * 1.7 + 80px); }
  .btnThree {
    top: calc(1000px * 2.7 + 80px); } }

.open {
  color: #F5DCD5; }

.openMenuLinks {
  color: #F5DCD5; }

.openMenu {
  background-color: #8C544C;
  position: fixed;
  right: 0;
  height: 100vh;
  z-index: 99; }

.closeBurger {
  color: transparent; }

.break {
  margin-top: 0;
  margin-bottom: 2px; }

.caret {
  fill: #543133; }

.aboutIcons {
  height: 50px;
  width: 50px;
  margin: 0 20px 30px;
  fill: #8C544C; }

.line {
  width: calc(100% - 40px);
  max-width: 500px;
  border-bottom: 1px dotted #543133; }

.addBorder {
  border-top: 1px dotted #8C544C;
  padding-top: 20px; }

.contactLink {
  justify-content: flex-start; }

.contactLinkedIn {
  text-decoration: none;
  color: #9B2E45; }

.contactLinkedIn:visited {
  color: #9B2E45; }

.marginSet {
  margin: 0; }
