.App {
  text-align: center;
}

h2{
  margin: 0;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// } */

//basic colors to use (HEX) 543133, 9B2E45, F5DCD5, B58981, 8C544C
//I plan on changing the standard fonts used eventually, possibly Halant and/or Nunito Sans

$font-stack: Helvetica,sans-serif;
$primary-color: #9B2E45;
$primary-background-color: #F5DCD5;
$primary-border-color: #543133;
$primary-menu-color: #8C544C;
$primary-folder-color: #B58981;
$folder-size: 80px;

@mixin variedHeader($bottomborder: 0 3px 3px $primary-color){
  height: 80px;
  background-color: $primary-menu-color;
  // color: $primary-background-color;
  border-bottom: 2px solid $primary-border-color;
  box-shadow: $bottomborder;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%shared-properties{
  border: 3px solid $primary-border-color;
  height: $folder-size;
  width: $folder-size*1.5;
  padding: 10px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: rgba($primary-folder-color,0.6);
}

%display-properties{
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  background-color: rgba($primary-background-color,0.8);
}

.searchHead{
  @include variedHeader($bottomborder: none);
}

.userHead{
  @include variedHeader;
}

.userDetails{
  // padding-top: 16px;
  padding-bottom: 16px;
  // height: ;
}

.userBox{
  padding-top: 26px;
  padding-bottom: 16px;
  margin-bottom: 26px;
  background-color: rgba($primary-folder-color,0.9);
}

.userInfo{
  margin-top: 0;
  height: 21px;
}

.institution{
  margin-bottom: 0;
}

.editUser{
  height: 30px;
  border: 1px solid $primary-border-color;
  background-color: $primary-folder-color;
  margin: 0 10px;
  margin-bottom: 10px;
}

.arrangeFolders{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

%flex-repeater{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.arrangeTabs{
  @extend %flex-repeater;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
}

.poly{
  fill: $primary-color;
  // height: 12px;
  // width: 50px;
}

.polySvg{
  height: 12px;
  width: 50px;
  margin-left: 10px;
  // border-left: 3px solid $primary-border-color;
}

.folder{
  @extend %shared-properties;
}

.createNew{
  font-size:5em;
  color: rgba($primary-color,0.6);
  @extend %display-properties;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.folderButton{
  border: none;
  background-color: transparent;
  /* background-color: ; */
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.searchInput{
  width: 120px;
}

@mixin secondaryTitle($alignText: right){
  text-align: $alignText;
  margin-top: 0;
  height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  background-color: rgba($primary-color,0.9);
}

.searchFilter{
  @include secondaryTitle;
  // text-align: right;
  // margin-top: 0;
  // height: 20px;
  // padding-top: 8px;
  // padding-bottom: 8px;
  // padding-right: 10px;
  // background-color: rgba($primary-color,0.9);
}

.titleHead{
  @include secondaryTitle($alignText: center)
}

.dropDownData{
  @extend %flex-repeater;
  align-items: center;
}

// .deleteBtn{
//   max-width: 200px;
// }

.svg-container {
  max-width: 800px;
  /* max-height: 550px; */
  display: inline-block;
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  position: relative;
  width: 100%;
  // height: 100%;
  padding-bottom: 75%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  /* max-height: 450px; */
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
  // font-size: 1em;
}

svg .rect {
  /* background-color: white; */
  fill: transparent;
  /* stroke: steelblue; */
  /* stroke-width: 1px; */
}

// .x-axis{
//   font-size: 1em;
// }

.graphDetails{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  position: absolute;
  left: 0;
  bottom: 5%;
}

.detailText{
  margin-top: 0;
  margin-bottom: 5px;
}

.links{
  // outline: none;
  text-decoration: none;
  margin: 0 3vw;
}

@media (min-width: 500px) {
  .graphDetails{
    bottom: 7%;
  }
}

@media (min-width: 650px) {
  .graphDetails{
    bottom: 9%;
  }
}

@media (min-width: 760px) {
  .svg-container {
    height: 570px;
    padding-bottom: 0;
  }
}